[submodule "kernel"]
	path = kernel
	url = git@gitlab.fhi.mpg.de:rtems_epics/bbb_rtems7_epics7/kernel.git
[submodule "rtems-libbsd"]
	path = rtems-libbsd
	url = git@gitlab.fhi.mpg.de:rtems_epics/bbb_rtems7_epics7/rtems-libbsd.git
[submodule "EPICS/epics-base"]
	path = EPICS/epics-base
	url = git@gitlab.fhi.mpg.de:rtems_epics/bbb_rtems7_epics7/epics-base.git
[submodule "EPICS/epics-support/iocStats"]
	path = EPICS/epics-support/iocStats
	url = git@gitlab.fhi.mpg.de:rtems_epics/bbb_rtems7_epics7/iocStats.git
[submodule "EPICS/epics-support/sscan"]
	path = EPICS/epics-support/sscan
	url = git@gitlab.fhi.mpg.de:rtems_epics/bbb_rtems7_epics7/sscan.git
[submodule "EPICS/FHI/beaglePyroIOC"]
	path = EPICS/FHI/beaglePyroIOC
	url = git@gitlab.fhi.mpg.de:rtems_epics/bbb_rtems7_epics7/beaglepyroioc.git
[submodule "EPICS/epics-support/iocstatsdb"]
	path = EPICS/epics-support/iocstatsdb
	url = https://gitlab.fhi.mpg.de/epics-tools/iocstatsdb.git
[submodule "EPICS/epics-support/asyn"]
	path = EPICS/epics-support/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "EPICS/epics-support/autosave"]
	path = EPICS/epics-support/autosave
	url = https://github.com/epics-modules/autosave.git
[submodule "EPICS/epics-support/calc"]
	path = EPICS/epics-support/calc
	url = https://github.com/epics-modules/calc.git
[submodule "EPICS/epics-support/sequencer"]
	path = EPICS/epics-support/sequencer
	url = https://github.com/epics-modules/sequencer.git
[submodule "EPICS/epics-support/recsync"]
	path = EPICS/epics-support/recsync
	url = https://github.com/epics-modules/recsync.git
[submodule "EPICS/epics-support/asyn"]
	path = EPICS/epics-support/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "EPICS/epics-support/autosave"]
	path = EPICS/epics-support/autosave
	url = https://github.com/epics-modules/autosave.git
[submodule "EPICS/epics-support/calc"]
	path = EPICS/epics-support/calc
	url = https://github.com/epics-modules/calc.git
[submodule "EPICS/epics-support/sequencer"]
	path = EPICS/epics-support/sequencer
	url = https://github.com/epics-modules/sequencer.git
[submodule "EPICS/epics-support/recsync"]
	path = EPICS/epics-support/recsync
	url = https://github.com/epics-modules/recsync.git
